* {
  box-sizing: border-box;
}

body {
  background-image: url("./img10.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  /* margin: 0; */
}

div.login1 {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 60px;
  color: #ffffff;
  font-family: Copperplate Gothic;
}

h2 {
  font-size: 40px;
  color: #ffffff;
  font-family: Copperplate Gothic;
}
h3 {
  text-align: center;
  color: azure;
  margin: auto;
  padding: 15px;
}
div.login2 {
  text-align: center;
}
span {
  display: flex;
  justify-content: center;
}
.container {
  /* background-color: brown; */
  width: 420px;
  margin: auto;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 24px 0px;
}
.button1 {
  background-color: rgb(255, 255, 255, 0.1);
  box-shadow: 5px 5px 2px 2px #00000066;

  padding: 8px 0px;
  margin-bottom: 20px;
  border-radius: 40px;
  border: 2px solid;
  color: white;
  width: 150px;
  font-weight: bold;
  outline: none;
  border: none;
}
.button1:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#text1,
#text2 {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  padding: 8px 12px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  box-shadow: 2px 2px 2px 5px #00000000;
  outline: none;
  border: none;
}
