body {
  background-color: #fdffcd;
}

h1 {
  text-align: center;
  color: #155263;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 2px solid black;
  padding: 8px;
}

thead {
  background-color: beige;
  color: rgba(0, 0, 0, 0.505);
  font-size: large;
}
td {
  text-align: center;
}

.button {
  float: right;
  background-color: grey;
  font-size: 18px;
  color: white;
  border-radius: 12px;
  
  padding: 8px;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(0, 0, 0,1);
}

hr {
  border: none;
  height: 5px;
  background-color: #082a02; /* Neon green color */
  margin-bottom: 20px;
  border-radius: 8px;
}
