body {
  background-color: #fdffcd;
}

h1 {
  text-align: center;
  color: #155263;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 2px solid black;
  padding: 8px;
}

thead {
  background-color: #393e46;
  color: white;
  font-size: large;
}
td {
  text-align: center;
}

.button {
  float: right;
  background-color: grey;
  font-size: 18px;
  color: white;
  border-radius: 12px;
  
  padding: 8px;
  font-family: "Edu AU VIC WA NT Hand", cursive;
}
.button:hover {
  background-color: black;
}
